*{
    color: white;
}

body{
    background-image: url("https://i.insider.com/560ea3c8bd86ef20008bec8f");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.blog-page-title{
    color: rgb(0, 0, 0);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 rgb(128,176,85), 0 -1px rgb(128,176,85);
    text-align: center;
    padding: 40px;
    font-size: 20px;
}


ul{
    list-style: none;
    margin-top: 10%;

}

li{
    padding: 10px;
    
}

a{
    text-decoration: none;
}

button{
    padding: 10px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(250, 116, 26);
}

