*{
    color: white;
}

ul{
    list-style: none;
    margin-top: 10%;

}

li{
    padding: 10px;
    
}

a{
    text-decoration: none;
}

button{
    padding: 10px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(250, 116, 26);;
}

.blog-page-title{
    text-align: center;
}