.vehicle-page-title{
    color: rgb(0, 0, 0);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 rgb(128,176,85), 0 -1px rgb(128,176,85);
    text-align: center;
    padding: 40px;
    font-size: 20px;
    background-color: rgb(128,176,85);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 500px 500px 500px;
    background-color: #ffffff;
    padding: 10px;
    grid-row-gap: 10px; 
    grid-column-gap: 10px; 
  }
  .grid-item {
    color: white;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 15px;
    text-align: center;
  }

#vehicle1 {
  border-radius: 25%;
}

#vehicle2 {
border-radius: 25%; 
}

#vehicle3{
  border-radius: 25%;
}

#vehicle4 {
border-radius: 25%; 
}

#vehicle5 {
border-radius: 25%; 
}

#vehicle6 {
border-radius: 25%; 
}

#vehicle7 {
border-radius: 25%; 
}

#vehicle8 {
  border-radius: 25%; 
 }

  #vehicle9 {
    border-radius: 25%; 
    }